<form [formGroup]="form" novalidate style="">
  <mat-divider></mat-divider>
  <table style="padding-top:10px;">
    <tr>
      <td>
        <div style="display:inline-block">
          <div class="fmffsidespaceblock">
            <app-patient-selector style="width:180px;" class="mffsidespacblock" [patientId]="formModel?.patient_id"
                                  (onPatientSelected)="patientSelected($event)"></app-patient-selector>
          </div>
        </div>
      </td>
      <td style="padding-bottom: 20px;">
        <div class="mffsidespaceblock">
          <label style="font-size:14px; display: block; color:gray">Starts At</label>
          <input class="spemr-form-input-long" formControlName="start" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
          <owl-date-time #dtPicker2></owl-date-time>
        </div>
      </td>
      <td style="padding-bottom: 20px;">
        <div class="mffsidespaceblock" style="">
          <label style="font-size:14px; display: block; color:gray">Duration</label>
          <input class="spemr-form-input-short" type="text" mask="0000"  formControlName="duration" placeholder="(minutes)" (onChange)="durationChanged($event)">
        </div>
      </td>
    </tr>
    <tr>
      <td class="appttogglecell">
        <mat-slide-toggle
          formControlName="do_code"
          class="appttogglespacer"
          [color]=""
          [checked]="true">
          w/Coding
        </mat-slide-toggle>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_code.value" style="padding-left: 12px;">
          <mat-form-field style="width: 120px;">
            <mat-select placeholder="Primary CPT" name="Primary Code" formControlName="primary_code">
              <mat-option *ngFor="let option of primaryCodeOptions" [(value)]="option.label">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_code.value" style="padding-left: 12px;">
          <mat-form-field style="width: 120px;">
            <mat-select placeholder="2ndary CPT" name="Secondary Code" formControlName="secondary_code">
              <mat-option *ngFor="let option of secondaryCodeOptions" [(value)]="option.label">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td></td>
    </tr>


    <tr>
      <td class="appttogglecell">
        <mat-slide-toggle
          formControlName="do_fee"
          class="appttogglespacer"
          [color]=""
          [checked]="true">
          w/Billing
        </mat-slide-toggle>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_fee.value" style="padding-left: 12px;">
          <label style="font-size:14px; display: block; color:gray">Primary Fee</label>
          <input class="spemr-form-input" sufix=" $" mask="0000" formControlName="primary_fee" placeholder="Primary Fee">
        </div>
      </td>
      <td class="appttogglecell" style="padding-left: 12px;">
        <div *ngIf="form.controls.do_fee.value">
          <label style="font-size:14px; display: block; color:gray">2ndary Fee</label>
          <input class="spemr-form-input" sufix=" $" mask="0000" formControlName="secondary_fee" placeholder="2ndary Fee">
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="appttogglecell">
        <mat-slide-toggle
          formControlName="do_repeat"
          class="appttogglespacer"
          [color]=""
          [checked]="true">
          w/Repeat
        </mat-slide-toggle>
      </td>


      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <mat-form-field style="width: 120px;">
            <mat-select placeholder="Repeats" name="Repeats" formControlName="repeat_days_of_week">
              <mat-option *ngFor="let option of repeatDayOptions" [(value)]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <mat-form-field style="width: 120px;">
            <mat-select placeholder="Interval" name="Interval" formControlName="repeat_interval">
              <mat-option *ngFor="let option of repeatOptions" [(value)]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <label style="font-size:12px; display: block; color:gray">
            Every
            {{form.controls.repeat_frequency.value}}
            {{form.controls.repeat_frequency.value > 1 ?
            pluralize(form.controls.repeat_interval.value) :
            form.controls.repeat_interval.value ? form.controls.repeat_interval.value : ''}}
          </label>
          <p-spinner [(ngModel)]="form.controls.repeat_frequency.value" size="10" step="1"
                     formControlName="repeat_frequency" placeholder="Frequency"></p-spinner>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <mat-form-field style="width: 120px;">
            <input #repstartdate matInput [matDatepicker]="picker2" placeholder="Starts"
                   formControlName="repeat_start_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <mat-form-field style="width: 120px;">
            <mat-select placeholder="Stops?" name="Interval" formControlName="repeat_end_type">
              <mat-option *ngFor="let option of repeatEndOptions" [(value)]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td class="appttogglecell">
        <div *ngIf="form.controls.do_repeat.value">
          <mat-form-field style="width: 120px;" *ngIf="form.controls.repeat_end_type.value.name==='on date'">
            <input #rependdate matInput [matDatepicker]="picker3" placeholder="Ends" formControlName="repeat_end_date">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
      </td>

    </tr>
  </table>

  <mat-divider></mat-divider>


  <div *ngIf="true" class="topSummary" style="margin-top:0px; padding-top:10px; padding-bottom: 5px;">
    <div class="top-summary-title">Appointment For:</div>
    <div>{{form.controls.title.value | titlecase}} {{ form.controls.start.value | date:"MM/dd/yyyy 'at' h:mma" }}
      for {{ form.controls.duration.value }} mins
    </div>
    <div class="top-summary-code">
      <mat-error
        *ngIf="form.controls.start.dirty && !form.controls.start.valid && form.controls.start.errors.isNotDate">
        Invalid Date!
      </mat-error>
    </div>
  </div>

  <div style="padding-top:10px;">
    <button mat-flat-button color="blue" [disabled]="!canSaveForm() " (click)="onSubmit()" label="Save"
            style="margin-bottom:10px;width:auto"
            class="spemr-blue-bkg flat">Save
    </button>
    <button mat-flat-button color="warn" [disabled]="deleteIsDisabled" (click)="deleteAppt()" label="Delete"
            style="margin-bottom:10px;width:auto; float:right"
            class="red-btn flat">Delete
    </button>
  </div>

</form>
