@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~fullcalendar/dist/fullcalendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

$spemr-green: #ddf4f6;
$spemr-blue:  #2a7bb0;
$spemr-darkgreen: #30AFB8;
$spemr-brown: #3f2a14;
$spemr-gray: #7a8080;
$spemr-lightgray: #dee0e0;

.spemr-green-bkg {
  background-color: $spemr-green;
}
.spemr-darkgreen-bkg {
  background-color: $spemr-darkgreen;
}
.spemr-blue-bkg {
  color: white;
  background-color: $spemr-blue;
}
.spemr-brown-bkg {
  background-color: $spemr-brown;
}
.spemr-gray-bkg {
  background-color: $spemr-gray;
}
.spemr-lightgray-bkg {
  background-color: $spemr-lightgray;
}
.spemr-form-dob {
  width: 120px !important;
}
.spemr-form-input-long {
  height: 33px;
  width: 170px;
  font-size: 16px;
}
.spemr-form-input-short {
  height: 33px;
  width: 60px;
  font-size: 16px;
}
.spemr-form-input {
  height: 34px;
  width: 100px;
  font-size: 16px;
}
.mat-dialog-container {
  will-change: transform, opacity;
}

.mffsidespace {
  padding-left:10px;
  padding-right:10px;
}
.mffsidespaceblock {
  padding-left:10px;
  padding-right:10px;
  display: inline-grid;
}
.fmffsidespaceblock {
  padding-right:10px;
  display: inline-block;
}
.padding {
  padding: 1em;
}

app-product {
  margin-right: 2em;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.mt {
  margin-top: 1em;
}

.p-width {
  width: 300px;
}

.mbb {
  margin-bottom: 5px;
}

.flex-end {
  justify-content: flex-end;
}

.mr {
  margin-right: 10px;
}

.nav-wrapper {
  padding: 0 25px;
}

.flex-column {
  flex-direction: column;
}

.height {
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

.block {
  display: block;
}

.page-footer {
  padding-top: 0;
}

.mr5 {
  margin-right: 5px;
}

app-todo {
  display: block;
}

.sb {
  justify-content: space-between;
}



